.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS PROPIO */
.flexDefault {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navFlex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fondoNav  {
  background-color: gainsboro !important;  
}

.containerMargin {
  margin: 0px 5px;
}

@media (min-width: 576px) and (max-width: 1600px) {
  .containerMargin{
    margin: 0px 5px;
    max-width: 100%;
  }
}

.containerButtoms {
  justify-content: space-between;
}

.botones {
  width: 40px;
}
.colorLink{
  color: black;
}
.flexBtnCount{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.marginBtn{
  margin-top: 10px;
}
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  height: 99px;
  text-align: center;
  font-size: 35px;
  font-family: "Gugi", cursive;
  font-weight: bold;
}

.separacionCards {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.buttonCards {
  background-color: darkorange;
}

.seccionDetalles {
  background: rgba(0,0,0,.8);
  display: grid;
  justify-content: center;
}

.colCarrito {
  margin-top: 80px;
}
.marginTituloCart{
  margin-bottom: 0px;
}

.botonCheckout{
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .colCarrito{
    margin-top: 0px;
  }
  .botonEliminar{
    margin-bottom: 20px;
  }
}

/* SECCION FOOTER */
.footerContactos {
  color: black;
  font-size: 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #cecece;
  font-family: 'Open Sans', sans-serif; }

.division {
  border-top: 1px solid #cecece; }

.imgLogo {
  height: 60px; }

.logoFace {
  height: 60px; }

.logoInsta {
  height: 60px; }


